#start-button{
    background-image: url(../images/start_button.png);
    background-repeat: no-repeat;
    object-fit: contain;
    height: 140px;
    width: 250px;
    border: none;
}

#trigger-button{
    background-image: url(../images/shoot_button.png);
    background-repeat: no-repeat;
    object-fit: contain;
    height: 140px;
    width: 250px;
    border: none;
}

#restart-button{
    background-image: url(../images/restart_button.png);
    background-repeat: no-repeat;
    object-fit: contain;
    height: 140px;
    width: 250px;
    border: none;
}

.custom-title{
    margin-top: 20px;
}

.hidden{
    visibility: hidden;
}